[submodule "scowl"]
	path = scowl
	url = https://github.com/en-wl/wordlist.git
[submodule "diff"]
	path = diff
	url = https://github.com/en-wl/wordlist-diff.git
[submodule "diff-code"]
	path = diff-code
	url = https://github.com/en-wl/wordlist-diff.git
	branch = code
