body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }
